In [13]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
pd.options.display.max_rows = 50

# Read data

In [15]:
project_dir = '/Users/navaneethan/Documents/projects/lighttime/'
raw_dir = project_dir + 'raw/'
processed_dir = project_dir + 'processed/'

## NECTA data

In [31]:
necta_fname = 'necta_fips_mapping_sep2018.csv'

In [32]:
dtypes = {
    'FIPS State Code': str, 
    'FIPS County Code': str,
    'FIPS County Subdivision Code': str
}

In [33]:
necta = pd.read_csv(raw_dir+necta_fname, header=2, dtype=dtypes)

In [34]:
drop_na_cols = ['NECTA Code', 'FIPS State Code', 'FIPS County Code', 'FIPS County Subdivision Code']
necta.dropna(subset=drop_na_cols, inplace=True)

In [35]:
necta.head()

,NECTA Code,NECTA Division Code,Combined NECTA Code,NECTA Title,Metropolitan/Micropolitan NECTA,NECTA Division Title,Combined NECTA Title,City or Town Name,FIPS State Code,FIPS County Code,FIPS County Subdivision Code
0,70450,NaN,715.0,"Athol, MA",Micropolitan NECTA,NaN,"Boston-Worcester-Providence, MA-RI-NH-CT-ME",Orange town,25,011,51265
1,70450,NaN,715.0,"Athol, MA",Micropolitan NECTA,NaN,"Boston-Worcester-Providence, MA-RI-NH-CT-ME",Warwick town,25,011,73265
2,70450,NaN,715.0,"Athol, MA",Micropolitan NECTA,NaN,"Boston-Worcester-Providence, MA-RI-NH-CT-ME",Athol town,25,027,02480
3,70450,NaN,715.0,"Athol, MA",Micropolitan NECTA,NaN,"Boston-Worcester-Providence, MA-RI-NH-CT-ME",Royalston town,25,027,58580
4,70600,NaN,710.0,"Augusta, ME",Micropolitan NECTA,NaN,"Augusta-Waterville, ME",Augusta city,23,011,02100

In [36]:
necta['FIPS State Code'] = necta['FIPS State Code'].apply(lambda fsc: 'G'+str(fsc)+'0')

In [37]:
necta.head()

,NECTA Code,NECTA Division Code,Combined NECTA Code,NECTA Title,Metropolitan/Micropolitan NECTA,NECTA Division Title,Combined NECTA Title,City or Town Name,FIPS State Code,FIPS County Code,FIPS County Subdivision Code
0,70450,NaN,715.0,"Athol, MA",Micropolitan NECTA,NaN,"Boston-Worcester-Providence, MA-RI-NH-CT-ME",Orange town,G250,011,51265
1,70450,NaN,715.0,"Athol, MA",Micropolitan NECTA,NaN,"Boston-Worcester-Providence, MA-RI-NH-CT-ME",Warwick town,G250,011,73265
2,70450,NaN,715.0,"Athol, MA",Micropolitan NECTA,NaN,"Boston-Worcester-Providence, MA-RI-NH-CT-ME",Athol town,G250,027,02480
3,70450,NaN,715.0,"Athol, MA",Micropolitan NECTA,NaN,"Boston-Worcester-Providence, MA-RI-NH-CT-ME",Royalston town,G250,027,58580
4,70600,NaN,710.0,"Augusta, ME",Micropolitan NECTA,NaN,"Augusta-Waterville, ME",Augusta city,G230,011,02100

In [38]:
necta['FIPS County Code'] = necta['FIPS County Code'].apply(lambda fcc: str(fcc)+'0')

In [39]:
necta.head()

,NECTA Code,NECTA Division Code,Combined NECTA Code,NECTA Title,Metropolitan/Micropolitan NECTA,NECTA Division Title,Combined NECTA Title,City or Town Name,FIPS State Code,FIPS County Code,FIPS County Subdivision Code
0,70450,NaN,715.0,"Athol, MA",Micropolitan NECTA,NaN,"Boston-Worcester-Providence, MA-RI-NH-CT-ME",Orange town,G250,0110,51265
1,70450,NaN,715.0,"Athol, MA",Micropolitan NECTA,NaN,"Boston-Worcester-Providence, MA-RI-NH-CT-ME",Warwick town,G250,0110,73265
2,70450,NaN,715.0,"Athol, MA",Micropolitan NECTA,NaN,"Boston-Worcester-Providence, MA-RI-NH-CT-ME",Athol town,G250,0270,02480
3,70450,NaN,715.0,"Athol, MA",Micropolitan NECTA,NaN,"Boston-Worcester-Providence, MA-RI-NH-CT-ME",Royalston town,G250,0270,58580
4,70600,NaN,710.0,"Augusta, ME",Micropolitan NECTA,NaN,"Augusta-Waterville, ME",Augusta city,G230,0110,02100

In [40]:
necta['fips_state_place'] = necta['FIPS State Code'] + \
                            necta['FIPS County Code'] + \
                            necta['FIPS County Subdivision Code']

In [41]:
necta.head()

,NECTA Code,NECTA Division Code,Combined NECTA Code,NECTA Title,Metropolitan/Micropolitan NECTA,NECTA Division Title,Combined NECTA Title,City or Town Name,FIPS State Code,FIPS County Code,FIPS County Subdivision Code,fips_state_place
0,70450,NaN,715.0,"Athol, MA",Micropolitan NECTA,NaN,"Boston-Worcester-Providence, MA-RI-NH-CT-ME",Orange town,G250,0110,51265,G250011051265
1,70450,NaN,715.0,"Athol, MA",Micropolitan NECTA,NaN,"Boston-Worcester-Providence, MA-RI-NH-CT-ME",Warwick town,G250,0110,73265,G250011073265
2,70450,NaN,715.0,"Athol, MA",Micropolitan NECTA,NaN,"Boston-Worcester-Providence, MA-RI-NH-CT-ME",Athol town,G250,0270,02480,G250027002480
3,70450,NaN,715.0,"Athol, MA",Micropolitan NECTA,NaN,"Boston-Worcester-Providence, MA-RI-NH-CT-ME",Royalston town,G250,0270,58580,G250027058580
4,70600,NaN,710.0,"Augusta, ME",Micropolitan NECTA,NaN,"Augusta-Waterville, ME",Augusta city,G230,0110,02100,G230011002100

In [42]:
necta.shape

(888, 12)

In [43]:
necta['fips_state_place'].value_counts(dropna=False)

G090009034950    1
G090011042600    1
G230019022710    1
G250013000840    1
G440007041500    1
G330007005140    1
G500007034600    1
G250027058825    1
G090009087560    1
G500007062050    1
G250023075260    1
G330019031220    1
G230011054560    1
G250013028075    1
G250025013205    1
G230031087985    1
G250011061905    1
G230009016935    1
G230005011125    1
G090009069640    1
G250017073440    1
G230019044340    1
G230019006925    1
G440007052480    1
G250017013135    1
                ..
G250021082315    1
G090007035230    1
G500017025675    1
G250021072495    1
G250015062745    1
G500003069775    1
G090005076570    1
G250017027480    1
G440007014140    1
G090009062290    1
G230005028240    1
G250027023875    1
G090003050440    1
G230019067160    1
G330015012100    1
G250017011000    1
G090003084900    1
G250015072880    1
G090009047535    1
G090005086440    1
G500021072925    1
G090009014160    1
G440009048340    1
G250017001955    1
G090011006820    1
Name: fips_state_place, Length: 888, dtype: int64

In [44]:
necta['fips_state_place'].unique().shape

(888,)

In [46]:
necta[necta['fips_state_place'] == 'G250025007000']

,NECTA Code,NECTA Division Code,Combined NECTA Code,NECTA Title,Metropolitan/Micropolitan NECTA,NECTA Division Title,Combined NECTA Title,City or Town Name,FIPS State Code,FIPS County Code,FIPS County Subdivision Code,fips_state_place
188,71650,71634.0,715.0,"Boston-Cambridge-Newton, MA-NH",Metropolitan NECTA,"Boston-Cambridge-Newton, MA","Boston-Worcester-Providence, MA-RI-NH-CT-ME",Boston city,G250,0250,07000,G250025007000

In [ ]:
necta.drop(inplace=True, columns=['NECTA Division Code', 
                    'Combined NECTA Code', 
                    'NECTA Division Title', 
                    'FIPS State Code',
                    'FIPS County Code',
                    'FIPS County Subdivision Code'])

In [ ]:
necta.head()

In [ ]:
necta_cols = {
    'NECTA Code': 'CBSA Code',
    'NECTA Title': 'CBSA Title',
    'Metropolitan/Micropolitan NECTA': 'Metropolitan/Micropolitan Statistical Area', 
    'City or Town Name': 'Principal City Name'
}

In [ ]:
necta.drop(columns='Combined NECTA Title', inplace=True)

In [ ]:
necta.rename(columns=necta_cols, inplace=True)

In [ ]:
necta.head()

In [ ]:
necta.tail()

In [ ]:
necta.dropna(inplace=True)

In [ ]:
necta.to_csv(processed_dir+necta_fname, index=False)

In [ ]:
necta.tail()

## USMSA data

In [ ]:
usmsa_fname = 'usmsa_fips_mapping_sep2018.csv'
usmsa = pd.read_csv(processed_dir+usmsa_fname, dtype={'CBSA Code': str})

In [ ]:
usmsa.head()

In [ ]:
usmsa.tail()

In [ ]:
usmsa_necta = pd.concat((usmsa, necta))

In [ ]:
usmsa_necta.head()

In [ ]:
usmsa_necta.tail()

In [ ]:
usmsa.merge(right=necta, left_on='CBSA Code', right_on='CBSA Code')

In [ ]:
usmsa_necta.to_csv(processed_dir+'usmsa_necta_fips_mapping_sep2018.csv', index=False)