In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
pd.options.display.max_rows = 50

# Functions

In [4]:
def linreg(X, Y):
    """
        Summary
        Linear regression of y = ax + b
        Usage
        real, real, real = linreg(list, list)
        Returns coefficients to the regression line "y=ax+b" from x[] and y[], and R^2 Value
        """
    if len(X) != len(Y):  raise ValueError("unequal length")
    N = len(X)
    Sx = Sy = Sxx = Syy = Sxy = 0.0
    for x, y in zip(X, Y):
        Sx = Sx + x
        Sy = Sy + y
        Sxx = Sxx + x*x
        Syy = Syy + y*y
        Sxy = Sxy + x*y
    det = Sxx * N - Sx * Sx
    a, b = (Sxy * N - Sy * Sx)/det, (Sxx * Sy - Sx * Sxy)/det
    meanerror = residual = 0.0
    for x, y in zip(X, Y):
        meanerror = meanerror + (y - Sy/N)**2
        residual = residual + (y - a * x - b)**2
    RR = 1 - residual/meanerror
    ss = residual / (N-2)
    Var_a, Var_b = ss * N / det, ss * Sxx / det
    return a, b, RR, Var_a, Var_b

In [5]:
def plot_scatter(df, predicted, title, predictor='logPOP'):
    with plt.style.context('bmh'):
        df.plot(x=predictor, 
                y=predicted, 
                figsize=(14, 8), 
                kind='scatter', 
                title=title)

# Read data

In [6]:
project_dir = '/Users/navaneethan/Documents/projects/lighttime/'
raw_dir = project_dir + 'raw/'
processed_dir = project_dir + 'processed/'

In [7]:
oecd_metros = 'oecd_metros.csv'

In [8]:
oecd = pd.read_csv(processed_dir+oecd_metros)

In [9]:
oecd.columns

Index([u'geoid10', u'Area', u'intptlat10', u'intptlon10', u'vi12_count',
       u'vi12_sum', u'vi12_mean', u'rad10count', u'rad10sum', u'rad10mean',
       u'ntl10count', u'ntl10sum', u'ntl10mean', u'van10count', u'van10sum',
       u'van10mean', u'FIPS', u'country', u'cnt_code', u'pop2010', u'gdp2010',
       u'logGDP', u'logNTL', u'logRAD', u'logVAN', u'logVI', u'logNTLsq',
       u'logRADsq', u'logVANsq', u'logVIsq', u'logNTLcub', u'logRADcub',
       u'logVANcub', u'logVIcub', u'latitude', u'usmsa', u'logPOP',
       u'logPOPsq', u'cnt_num', u'is_europe'],
      dtype='object')

In [10]:
oecd[['geoid10', 'Area', 'intptlat10', u'intptlon10', 'pop2010', 'rad10mean', 'ntl10count', u'ntl10sum', 
      u'ntl10mean', u'van10count', u'van10sum', u'van10mean', u'FIPS']].head()

,geoid10,Area,intptlat10,intptlon10,pop2010,rad10mean,ntl10count,ntl10sum,ntl10mean,van10count,van10sum,van10mean,FIPS
0,10180.0,"Abilene, TX",32.452023,-99.718742,165252,6.780365,9858,51477,5.221850,9886,508.707031,0.051457,10180
1,10420.0,"Akron, OH",41.146641,-81.350113,703200,67.471321,3699,161197,43.578533,3708,1099.855591,0.296617,10420
2,10500.0,"Albany, GA",31.589302,-84.174911,157308,9.708832,6944,62337,8.977102,6934,413.040680,0.059567,10500
3,10580.0,"Albany-Schenectady-Troy, NY",42.787922,-73.942345,870716,18.039358,11816,234142,19.815674,11787,1449.650513,0.122987,10580
4,10740.0,"Albuquerque, NM",35.116604,-106.456535,887077,7.369433,34282,155764,4.543609,34201,1950.413330,0.057028,10740

In [11]:
predictor_col = 'logPOP'

predicted_cols = [
    'logGDP',
    'logNTL', 
    'logRAD', 
    'logVAN', 
    'logVI', 
    'logNTLsq', 
    'logRADsq', 
    'logVANsq', 
    'logVIsq', 
    'logNTLcub', 
    'logRADcub', 
    'logVANcub', 
    'logVIcub'
]

In [12]:
usa = oecd[oecd['usmsa'] == 1].copy()

In [13]:
def linreg(X, Y):
    """
        Summary
        Linear regression of y = ax + b
        Usage
        real, real, real = linreg(list, list)
        Returns coefficients to the regression line "y=ax+b" from x[] and y[], and R^2 Value
        """
    if len(X) != len(Y):  raise ValueError("unequal length")
    N = len(X)
    Sx = Sy = Sxx = Syy = Sxy = 0.0
    for x, y in zip(X, Y):
        Sx = Sx + x
        Sy = Sy + y
        Sxx = Sxx + x*x
        Syy = Syy + y*y
        Sxy = Sxy + x*y
    det = Sxx * N - Sx * Sx
    a, b = (Sxy * N - Sy * Sx)/det, (Sxx * Sy - Sx * Sxy)/det
    meanerror = residual = 0.0
    for x, y in zip(X, Y):
        meanerror = meanerror + (y - Sy/N)**2
        residual = residual + (y - a * x - b)**2
    RR = 1 - residual/meanerror
    ss = residual / (N-2)
    Var_a, Var_b = ss * N / det, ss * Sxx / det
    return a, b, RR, Var_a, Var_b

In [14]:
linreg(X=np.log10(usa['pop2010']), Y=np.log10(usa['gdp2010']))

(1.1128788697806298,
 -2.0852564708997496,
 0.9560231856568299,
 0.0001637087491703274,
 0.00501391820183559)

In [15]:
linreg(X=np.log10(usa['pop2010']), Y=np.log10(usa['rad10sum']))

(0.8896852277881744,
 0.14421306556060895,
 0.8946305420426806,
 0.0002678949585117925,
 0.008204835816470375)

# Log-based regressions

### Population-GDP

In [16]:
linreg(X=usa[predictor_col], Y=usa[predicted_cols[0]])

(1.112878868761455,
 -4.801480450583713,
 0.95602317614901,
 0.00016370878589255314,
 0.026583289380338035)

### Population-NTL

In [17]:
linreg(X=usa[predictor_col], Y=usa[predicted_cols[1]])

(0.7092369903950991,
 2.4817515702007897,
 0.8629275975622185,
 0.00022960385665274805,
 0.037283434306620795)

### Population-RAD

In [18]:
linreg(X=usa[predictor_col], Y=usa[predicted_cols[2]])

(0.8896852455000789,
 0.33206264020955256,
 0.894630540487357,
 0.0002678949735983228,
 0.04350120592413592)

### Population-VAN

In [19]:
linreg(X=usa[predictor_col], Y=usa[predicted_cols[3]])

(0.6983739973331021,
 -2.2911785685186725,
 0.8012347284978341,
 0.0003476783268699355,
 0.056456551944141425)

### Population-VI

In [20]:
linreg(X=usa[predictor_col], Y=usa[predicted_cols[4]])

(0.8609132822964233,
 -0.08969443900812288,
 0.8621776744447075,
 0.0003404570826361835,
 0.05528395498115424)

## GDP

### GDP-NTL

In [21]:
linreg(X=usa[predicted_cols[0]], Y=usa[predicted_cols[1]])

(0.6164678593941739,
 5.736111206498096,
 0.844578168869031,
 0.00020096193499608163,
 0.017787816957095953)

### NTL-GDP

In [22]:
linreg(X=usa[predicted_cols[1]], Y=usa[predicted_cols[0]])

(1.370027903319449,
 -6.408387637473636,
 0.8445781688690309,
 0.0009925485313884324,
 0.13164509628161797)

### Population-RAD

In [ ]:
linreg(X=usa[predicted_cols[0]], Y=usa[predicted_cols[2]])

### Population-VAN

In [ ]:
linreg(X=usa[predicted_cols[0]], Y=usa[predicted_cols[3]])

### Population-VI

In [ ]:
linreg(X=usa[predicted_cols[0]], Y=usa[predicted_cols[4]])

# Plots

## Other

In [ ]:
others = oecd[
    (oecd['usmsa'] == 0) &
    (oecd['is_europe'] == False)
].copy()

In [ ]:
for pc in predicted_cols:
    plot_scatter(df=others, predicted=pc, title='Not USA or Europe')

## USA

In [ ]:
for pc in predicted_cols:
    plot_scatter(df=usa, predicted=pc, title='USA')

## Europe

In [ ]:
europe = oecd[oecd['is_europe'] == True].copy()

In [ ]:
for pc in predicted_cols:
    plot_scatter(df=europe, predicted=pc, title='Europe')